@use "../../scss/" as *;

.filter{
    margin-top:$header-height;
    @include flex(center,center);
    flex-direction: column;
    gap: 2rem;

    &__widget {
        display: flex;
        gap:1rem;
    }

    &__content {
        display: flex;
        &__item {
            margin-right: 10px;
        }
    }

    &__input  form {
        @include flex(center, center);
        border-bottom: solid 1px var(--txt-color);

        & input {
            border:none;
        }
    }
}