@use "../../scss/" as *;

.filter-content{
    @include flex(unset, space-between);
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
    
    &__card {
        width: 15%;

        & p {
            text-align: center;
        }
        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 48%;
        }
    }
}