@use '../../scss/' as *;

.cart-page {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > p {
        padding: 1rem;
        background-color: #dbe6ce;
        font-size: 0.825rem;
        color: black;
    }

    &__purchase {
        display: flex;
        gap: 4rem;
        justify-content: end;
    }

}
.swiper-slide {
    width: 30%;
    
    @include tablet {
        width: 40%;
    }

    @include mobile {
        width: 60%;
    }
   
}