@use '../../scss/' as *;
/* loading */
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: rgb(255, 255, 255);
	opacity: 1;
	transition: 0.5s;
}


@keyframes loading-spin {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-circle-ani {
	0% {
		stroke-dashoffset: 157;
	}

	75% {
		stroke-dashoffset: -147;
	}

	100% {
		stroke-dashoffset: -157;
	}
}

.loading-circle {
	width: 54px;
	height: 54px;
	animation: loading-spin 1.8s infinite;
}

.loading-circle circle {
	stroke: black;
	stroke-width: 4;
	/* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
	stroke-dasharray: 157, 157;
	stroke-dashoffset: 0;
	fill: transparent;
	animation: loading-circle-ani 1s infinite;
	/* transition: 1s; */
}