@use "../../scss" as *;

.review {

    &__container {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        & > button {
            margin-left: auto;
        }    
    }

    &__postbox {
        @include flex(unset, unset);
        gap:1rem;
        width: 100%;

        @include tablet {
            flex-wrap: wrap;
        }

        .review-post {
            width:25%;

            @include tablet {
                width: 45%;
            }

            @include mobile {
                width: 100%;
            }
        }
    }
    
    &__pagination {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1rem;

        &__num{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.active{
                background-color: var(--main-color);
                color: var(--txt-color);
                font-weight: 600;
            }
        }
    }
}
