@use "../../scss" as *;

.review {
    height: calc(75vh - $header-height);
    margin-top: calc($header-height + 4rem);

    &__container {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        & > button {
            margin-left: auto;
        }
        
    }
    &__postbox {
        @include flex(unset, unset);
        gap:1rem;
        width: 100%;

        .review-post {
            width:20%;

            @include mobile {
                width: 100%;
            }
        }
    }
    }
