@use '../../scss/' as *;

.admin{
    padding: 0 2rem;


    &__charts {
        display: flex;
        gap: 4rem;

        @include mobile {
            flex-direction: column;
        }
        
        &__stock {
            width: 50%;

            @include mobile {
                width: 100%;
            }
        }
        &__sales {
            width: 25%;
            @include mobile {
                width: 100%;
            }
        }

    }
}