@use '../../scss/' as *;

.admin{
    padding: 0 2rem;
    font-weight: bold;

    &__title {
        display: flex;
        gap:1rem;
        align-items: center;

        & > svg {
            color: var(--main-color);
        }
    }


    &__charts {
        display: flex;
        gap: 4rem;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }
        
        &__stock {
            width: 70%;
            @include mobile {
                width: 100%;
            }
        }
        &__sales {
            width: 25%;
            @include mobile {
                width: 100%;
            }
        }

    }
}